<div class="container-fluid">
    <div class="row col-md-10 col-md-offset-1"><br>
        <table class="table table-striped table-bordered" style="text-align: center">
            <th class="table-bordered" style="text-align: center; background-color: #a4afa0; color: white">Name</th>
            <th class="table-bordered" style="text-align: center; background-color: #a4afa0; color: white">Email</th>
            <th class="table-bordered" style="text-align: center; background-color: #a4afa0; color: white">Address</th>
            <th class="table-bordered" style="text-align: center; background-color: #a4afa0; color: white">Company</th>
            <th class="table-bordered" style="text-align: center; background-color: #a4afa0; color: white">Action</th>
            <tr *ngFor="let x of data">
                <td>{{ x.name }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.address.street }}</td>
                <td>{{ x.company.name }}</td>
                <td>
                    <a class="btn btn-default" href="#" style="background-color: #f25d43; color: white" (click)="remove(i)">Remove</a>
                </td>
            </tr>
        </table>
    </div>
</div>