<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <img alt="Front End Exam" src="...">
                        </a>
                    </div>
                </div>
            </nav>
            <ul class="nav nav-tabs">
                <li role="presentation" class="header-edit">
                    <a href="#" style="margin: 0; border-radius: 0"><a routerLink="/userlist">User List</a></a>
                </li>
                <li role="presentation" class=" header-edit">
                    <a href="#" style="margin: 0; border-radius: 0"><a routerLink="/adduser">Add User</a></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>