<div class="container-fluid">
    <div class="row col-md-10 col-md-offset-1">
        <div class="row">
            <div class="container-fluid">
                <div class="col-md-1"><br>
                    <p>Name</p>
                </div>
                <div class="col-md-3"><br>
                    <p><input type="text" class="form-control" placeholder="" [(ngModel)]="this.api.newName"></p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-1">
                    <p>Email</p>
                </div>
                <div class="col-md-3">
                    <p><input type="text" class="form-control" placeholder="" [(ngModel)]="this.api.newEmail"></p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-1">
                    <p>Address</p>
                </div>
                <div class="col-md-3">
                    <p><input type="text" class="form-control" placeholder="" [(ngModel)]="this.api.newAddress"></p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-1">
                    <p>Phone Number</p>
                </div>
                <div class="col-md-3">
                    <p><input type="text" class="form-control" placeholder="" [(ngModel)]="this.api.newPhone"></p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-1">
                    <p>Company Name</p>
                </div>
                <div class="col-md-3">
                    <p><input type="text" class="form-control" placeholder="" [(ngModel)]="this.api.newCompany"></p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-2 col-md-offset-1">
                    <a class="btn btn-default" href="#" style="background-color: #57cc26; color: white" (click)="this.api.addToList">Add User</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>